<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	   	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/scheduledb?characterEncoding=utf8"/>
		<property name="username" value="USER_ID"/>
		<property name="password" value="USER_PW"/>
	   </bean>
	   
	   <bean id="userDAO" class="domain.UserDAO">
	   	<property name="dataSource" ref="dataSource"/>
	   </bean>
	   
	   <bean id="scheduleDAO" class="domain.ScheduleDAO">
	   	<property name="dataSource" ref="dataSource"/>
	   </bean>
</beans>